.app {
    background-color: #f3f3ef;
    display: flex;
    flex-direction: column;
}

.app_body {
    display: flex;
    margin-top: 15px;
    max-width: 1200px;
    margin-left: 20px;
    margin-right: 20px;
}